body {
font-family: Georgia, "Times New Roman"
Times, serif;
color: white;
background-color: #0040FF
}
h1{
font-family: Helvetica, Geneva, Arial, SunSans-regular, sans-serif
}
div{
align="";
}
